body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


.show_judul h3{
    font-size: 281.25% ;
    font-weight: 800;

}

.show_judul p{
    font-size: 281.25% ;
    color: #2C8900 ;

}

.cekout{
    text-align: end;
}



.container_desc{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25) ;
}
.show_fasilitas{
    display: inline-block;
    margin: 2% 4%;
}





.kamusuka_judul h3{
    font-weight: 800;
    font-size: 281.25%;
}


.jelajah_container p{
    font-size: 143.75%;
}

.price_liburan{
    color:#2C8900 ;
}
.price_liburan p{
    color:#2C8900 ;
    display: inline-block;
}

.price_liburan .real_price{
    font-size: 93.75%;
    color: rgba(165, 165, 165, 1);
    text-decoration: line-through;
}

.deskripsi_liburan{
    font-size: 93.75% !important;
    
}

.rating_review{
    color: #FF5722 ;
    font-size: 143.75%;
}

.user_review_name{
    font-size: 143.75%; 
}

.user_review_image{
    border-radius: 100%;
    width: 50%;
    height: 50%;
    object-fit: cover;
}



.about_home{
    background-color: #EAEAEA;

}

.sosmed_home{
    background-color: #2C8900;
    color: white !important;
}

.follow_sosmed svg{
    margin: 0px 8px;
}

.about_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    
}
.about_us div{
    padding: 10px;
}
.about_us div h5{
    font-weight: 800;
    font-size: 24px;
    
}
.about_us div p{
    font-size: 18px;
    
}

footer{
    text-align: center;
    background-color: #216700 ;
    padding: 25px ;
    color: white;
}

.cekout button{
    color: #ffffff;
    background-color: #2C8900 ;
    padding: 3% 15%;
    border: 0px;
    border-radius: 10px ;
}

.btn-14 {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
}
.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
     /* 7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1); */
    transition: all 0.3s ease;
}
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }


.custom-btn {
    padding: 3% 15%;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.card_show{
    box-shadow: 4px 4px 19.5px 0px rgba(109, 109, 109, 0.25) !important;
    transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
    
}