body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.navbar{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    border: 1px solid black !important;
    background-color: rgb(224, 217, 217) !important;
    border-radius: 5px;
  }


.gretting_cont{
    background-image: url("pict/backgroundtop1.png");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 80vh;
}
.gretting_word{
    color: white;
    font-weight: 800;
    font-size: 52px;
}

.destinasi_container h4{
    display: inline-block;
    background-color: #2C8900;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.card_show{
    box-shadow: 4px 4px 19.5px 0px rgba(109, 109, 109, 0.25) !important;
    transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
    
}

.destinasi_container h3{
    font-weight: 800;
    font-size: 52px;
}
.destinasi_container p{
    font-size: 23px;
}
.liburan_container .choose_liburan_container h4{
    display: inline-block;
    color: #2C8900;
    border: 2px solid #2C8900;
    
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
}

.liburan_container .head_liburan_container h3{
    font-weight: 800;
    font-size: 52px;
}
.liburan_container p{
    font-size: 23px;
}

.price_liburan{
    color:#2C8900 ;
}
.price_liburan p{
    color:#2C8900 ;
    display: inline-block;
}

.price_liburan .real_price{
    font-size: 15px;
    color: rgba(165, 165, 165, 1);
    text-decoration: line-through;
}

.deskripsi_liburan{
    font-size: 15px !important;

}


.ourservice_pict{
    width: 100%;
    object-fit: cover;
    height: 60vh;

}


.about_home{
    background-color: #EAEAEA;

}

.sosmed_home{
    background-color: #2C8900;
    color: white !important;
}

.follow_sosmed svg{
    margin: 0px 8px;
}

.about_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;

}
.about_us div{
    padding: 10px;
}
.about_us div h5{
    font-weight: 800;
    font-size: 24px;
    
}
.about_us div p{
    font-size: 18px;
    
}

footer{
    text-align: center;
    background-color: #216700 ;
    padding: 25px ;
    color: white;
}



