body{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: fixed;
    background-color: #2C8900;
    height: 98vh;
    /* align-items: center; */
    text-align: left;
    padding: 5% 2%;
    width: 25%;
}

.logo{
    display: inline-block;
}

.judul{
    display: inline-block;
    font-size:200% ;
    color: white !important;
}

.sidebar_menu button{
    color: white;
    display: block;
    margin-top: 20%;
    background-color: transparent;
    width: 90%;
    border: 0px solid  transparent;
    padding : 5% 5%; 


    
}

.sidebar_menu button:hover{
    color: white;
    display: block;
    margin-top: 20%;
    background-color: transparent;
    width: 90%;
    border: 0px solid  transparent;

    background-color : #FF731D; 
    padding : 5% 5%; 
    border-radius: 10px;

}
.sidebar_menu button svg{
    margin-right: 10%;
}

.sidebar_menu{
    padding-left: 20%;

}

.our_service_word{
    width: 75%;
    margin-left: 25%;
}

.our_service_word{
    width: 75%;
    margin-left: 25%;
}
/* .dahsboard_menu{ */


.our_service_word form input[type="text"]{
  border-color: rgba(201, 201, 201, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  padding: 3% 5%;
}
.our_service_word form select{
  border-color: rgba(201, 201, 201, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  padding: 3% 5%;
}

.our_service_word form .image_button{
  border-color: rgba(201, 201, 201, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  background-color: #A5A5A5;

  width: 15%;

}

.our_service_word form button svg{
    margin-right: 7%;
}
.our_service_word form textarea{

    width: 95%;
    padding: 2%;
}

.upload_button{
    color: white;
    background-color: #2C8900;
    border-color: rgba(201, 201, 201, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 15%;
  padding: 1% 0%;
  margin-right: 5%;
}